html {
  font-size: 16px;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f5f6f7;
}

.btn {
  min-width: 150px;
  border-radius: 9px;
  background: #eaf1f3;
  box-shadow: 21px 21px 42px #bec3c5, -21px -21px 42px #ffffff;
  color: rgb(255, 255, 255);
  font-size: 10px;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.tag, .table{
  font-family: 'IBM Plex Mono';
}

button {
  margin-left:15px;
}

.card-footer-item {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

/*Loader*/
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.loader-wrapper .loader {
  height: 80px;
  width: 80px;
}
.loader-wrapper.is-active {
  opacity: 1;
  z-index: 1;
}
.is-loading {
  position: relative;
}

/*NOTIFICATION*/

.notifications {
  position: fixed;
  z-index: 9999;
  top: 75px;
  right: 15px;
  width: auto;
}

.notification {
  position: relative;
  top: 0;
  min-width: 100px;
  padding: 1rem 1.25rem 1rem 1.25rem;
  transition: .3s;
  text-align: center;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

.notification:hover {
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .2);
}

@-webkit-keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*** LEGEND **/
.fieldset{
  background-color: #fff;
   border-radius: 6px;
   box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
   color: #4a4a4a;
   display: block;
   padding: 1.25rem;
  border: 1px solid #ccc
}
.fieldset  > legend{
   color: #363636;
   display: block;
   font-size: 1rem;
   font-weight: 700;
   background-color: #fff;
   padding: 0 5px;
 width: max-content;
 border: 0 none
}