html {
  font-size: 16px;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f5f6f7;
}

.btn {
  min-width: 150px;
  border-radius: 9px;
  background: #eaf1f3;
  box-shadow: 21px 21px 42px #bec3c5, -21px -21px 42px #ffffff;
  color: rgb(255, 255, 255);
  font-size: 10px;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.tag, .table{
  font-family: 'IBM Plex Mono';
}

button {
  margin-left:15px;
}

/*Loader*/
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.loader-wrapper .loader {
  height: 80px;
  width: 80px;
}
.loader-wrapper.is-active {
  opacity: 1;
  z-index: 1;
}
.is-loading {
  position: relative;
}
